<!--=====================================
Best Sale Items
======================================-->

<div class="ps-block--shop-features">
  <div class="ps-block__header">
    <h3>Best Sale Items</h3>

    <div class="ps-block__navigation">
      <a class="ps-carousel__prev" href="#recommended1">
        <i class="icon-chevron-left"></i>
      </a>

      <a class="ps-carousel__next" href="#recommended1">
        <i class="icon-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="ps-block__content">
    <div
      class="owl-slider"
      id="recommended1"
      data-owl-auto="true"
      data-owl-loop="true"
      data-owl-speed="10000"
      data-owl-gap="30"
      data-owl-nav="false"
      data-owl-dots="false"
      data-owl-item="6"
      data-owl-item-xs="2"
      data-owl-item-sm="2"
      data-owl-item-md="3"
      data-owl-item-lg="4"
      data-owl-item-xl="5"
      data-owl-duration="1000"
      data-owl-mousedrag="on"
    >
      <!--=====================================
            Product
            ======================================-->

      <div class="ps-product">
        <div class="ps-product__thumbnail">
          <a href="product-default.html">
            <img src="img/products/shop/best/1.jpg" alt="" />
          </a>

          <ul class="ps-product__actions">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Cart"
              >
                <i class="icon-bag2"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Quick View"
              >
                <i class="icon-eye"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Whishlist"
              >
                <i class="icon-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ps-product__container">
          <a class="ps-product__vendor" href="#">Young Shop</a>

          <div class="ps-product__content">
            <a class="ps-product__title" href="product-default.html">
              Sleeve Linen Blend Caro Pane Shirt</a
            >

            <div class="ps-product__rating">
              <select class="ps-rating" data-read-only="true">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select>

              <span>01</span>
            </div>

            <p class="ps-product__price">$22.99 - $32.99</p>
          </div>

          <div class="ps-product__content hover">
            <a class="ps-product__title" href="product-default.html">
              Sleeve Linen Blend Caro Pane Shirt</a
            >

            <p class="ps-product__price">$22.99 - $32.99</p>
          </div>
        </div>
      </div>
      <!-- End Product -->

      <!--=====================================
            Product
            ======================================-->

      <div class="ps-product">
        <div class="ps-product__thumbnail">
          <a href="product-default.html">
            <img src="img/products/shop/best/2.jpg" alt="" />
          </a>

          <div class="ps-product__badge">-7%</div>

          <ul class="ps-product__actions">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Cart"
              >
                <i class="icon-bag2"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Quick View"
              >
                <i class="icon-eye"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Whishlist"
              >
                <i class="icon-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ps-product__container">
          <a class="ps-product__vendor" href="#">Young Shop</a>

          <div class="ps-product__content">
            <a class="ps-product__title" href="product-default.html">
              MVMTH Classical Leather Watch In Black</a
            >

            <div class="ps-product__rating">
              <select class="ps-rating" data-read-only="true">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select>

              <span>01</span>
            </div>

            <p class="ps-product__price sale">$57.99 <del>$62.99 </del></p>
          </div>

          <div class="ps-product__content hover">
            <a class="ps-product__title" href="product-default.html">
              MVMTH Classical Leather Watch In Black</a
            >

            <p class="ps-product__price sale">$57.99 <del>$62.99 </del></p>
          </div>
        </div>
      </div>
      <!-- End Product -->

      <!--=====================================
            Product
            ======================================-->

      <div class="ps-product">
        <div class="ps-product__thumbnail">
          <a href="product-default.html">
            <img src="img/products/shop/best/3.jpg" alt="" />
          </a>

          <div class="ps-product__badge">-16%</div>

          <ul class="ps-product__actions">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Cart"
              >
                <i class="icon-bag2"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Quick View"
              >
                <i class="icon-eye"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Whishlist"
              >
                <i class="icon-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ps-product__container">
          <a class="ps-product__vendor" href="#">Young Shop</a>

          <div class="ps-product__content">
            <a class="ps-product__title" href="product-default.html"
              >Unero Military Classical Backpack</a
            >

            <div class="ps-product__rating">
              <select class="ps-rating" data-read-only="true">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select>

              <span>02</span>
            </div>

            <p class="ps-product__price sale">$35.00 <del>$60.00 </del></p>
          </div>

          <div class="ps-product__content hover">
            <a class="ps-product__title" href="product-default.html">
              Unero Military Classical Backpack</a
            >

            <p class="ps-product__price sale">$35.00 <del>$60.00 </del></p>
          </div>
        </div>
      </div>
      <!-- End Product -->

      <!--=====================================
            Product
            ======================================-->

      <div class="ps-product">
        <div class="ps-product__thumbnail">
          <a href="product-default.html">
            <img src="img/products/shop/best/4.jpg" alt="" />
          </a>

          <div class="ps-product__badge">-5%</div>

          <ul class="ps-product__actions">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Cart"
              >
                <i class="icon-bag2"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Quick View"
              >
                <i class="icon-eye"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Whishlist"
              >
                <i class="icon-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ps-product__container">
          <a class="ps-product__vendor" href="#">Go Pro</a>

          <div class="ps-product__content">
            <a class="ps-product__title" href="product-default.html">
              Sound Intone I65 Earphone White Version</a
            >

            <div class="ps-product__rating">
              <select class="ps-rating" data-read-only="true">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select>

              <span>23</span>
            </div>

            <p class="ps-product__price sale">$100.00 <del>$105.00 </del></p>
          </div>

          <div class="ps-product__content hover">
            <a class="ps-product__title" href="product-default.html">
              Sound Intone I65 Earphone White Version</a
            >

            <p class="ps-product__price sale">$100.00 <del>$105.00 </del></p>
          </div>
        </div>
      </div>
      <!-- End Product -->

      <!--=====================================
            Product
            ======================================-->

      <div class="ps-product">
        <div class="ps-product__thumbnail">
          <a href="product-default.html">
            <img src="img/products/shop/best/5.jpg" alt="" />
          </a>

          <ul class="ps-product__actions">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Cart"
              >
                <i class="icon-bag2"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Quick View"
              >
                <i class="icon-eye"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Whishlist"
              >
                <i class="icon-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ps-product__container">
          <a class="ps-product__vendor" href="#">Global Office</a>

          <div class="ps-product__content">
            <a class="ps-product__title" href="product-default.html">
              Herschel Leather Duffle Bag In Brown Color</a
            >

            <div class="ps-product__rating">
              <select class="ps-rating" data-read-only="true">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select>

              <span>01</span>
            </div>

            <p class="ps-product__price">$125.30</p>
          </div>

          <div class="ps-product__content hover">
            <a class="ps-product__title" href="product-default.html">
              Herschel Leather Duffle Bag In Brown Color</a
            >

            <p class="ps-product__price">$125.30</p>
          </div>
        </div>
      </div>
      <!-- End Product -->

      <!--=====================================
            Product
            ======================================-->

      <div class="ps-product">
        <div class="ps-product__thumbnail">
          <a href="product-default.html">
            <img src="img/products/shop/best/6.jpg" alt="" />
          </a>

          <div class="ps-product__badge hot">Hot</div>

          <ul class="ps-product__actions">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Cart"
              >
                <i class="icon-bag2"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Quick View"
              >
                <i class="icon-eye"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Whishlist"
              >
                <i class="icon-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ps-product__container">
          <a class="ps-product__vendor" href="#">Global Office</a>

          <div class="ps-product__content">
            <a class="ps-product__title" href="product-default.html">
              Xbox One Wireless Controller Black Color</a
            >

            <div class="ps-product__rating">
              <select class="ps-rating" data-read-only="true">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select>

              <span>01</span>
            </div>

            <p class="ps-product__price sale">$1025.00 <del>$1422.00 </del></p>
          </div>

          <div class="ps-product__content hover">
            <a class="ps-product__title" href="product-default.html">
              Xbox One Wireless Controller Black Color</a
            >

            <p class="ps-product__price sale">$1025.00 <del>$1422.00 </del></p>
          </div>
        </div>
      </div>
      <!-- End Product -->

      <!--=====================================
            Product
            ======================================-->

      <div class="ps-product">
        <div class="ps-product__thumbnail">
          <a href="product-default.html">
            <img src="img/products/shop/best/7.jpg" alt="" />
          </a>

          <ul class="ps-product__actions">
            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Cart"
              >
                <i class="icon-bag2"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Quick View"
              >
                <i class="icon-eye"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                data-toggle="tooltip"
                data-placement="top"
                title="Add to Whishlist"
              >
                <i class="icon-heart"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="ps-product__container">
          <a class="ps-product__vendor" href="#">Robert's Store</a>

          <div class="ps-product__content">
            <a class="ps-product__title" href="product-default.html"
              >Samsung UHD TV 24inch</a
            >

            <div class="ps-product__rating">
              <select class="ps-rating" data-read-only="true">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select>

              <span>01</span>
            </div>

            <p class="ps-product__price">$599.00</p>
          </div>

          <div class="ps-product__content hover">
            <a class="ps-product__title" href="product-default.html"
              >Samsung UHD TV 24inch</a
            >

            <p class="ps-product__price">$599.00</p>
          </div>
        </div>
      </div>
      <!-- End Product -->
    </div>
  </div>
</div>
<!-- End Best Sales Items -->
